In [1]:
print ("Hello,python full stack students!")

Hello,python full stack students!

In [3]:
print("hi how are you!")

hi how are you!

In [4]:
print("did you eat!")

did you eat!

In [11]:
name="manas"
age=22
gpa=8.5
is_studet=True
print(name,age,gpa,is_studet)

manas 22 8.5 True

In [16]:
name="sai ram"
age=23
gpa=6.5
is_student="true"
print(name,age,gpa,is_student)

sai ram 23 6.5 true

In [20]:
x=10
y=3.14
z="python"
flag=False
print(type(x),type(y),type(z),type(flag))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [22]:
x=15
y=4.15
z="topper"
flag=False
print(type(x),type(y),type(z),type(flag))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [23]:
name="shiny"
college="avinash_collage_commarse"
favorite_language="python"
print(name,college,favorite_language)

shiny avinash_collage_commarse python

In [1]:
year1=2006
year2=2025
age=year2-year1
print(age)

19

In [2]:
movie="coolie"
release=2025
rating=9.5
print(movie,release,rating)

coolie 2025 9.5

In [3]:
a=18
b=19
print("addition:",a+b)
print("division:",a/b)
print("floor_division:",a//b)
print("power:",a**b)

addition: 37
division: 0.9473684210526315
floor_division: 0
power: 708235345355337676357632

In [10]:
a=20
b=30
print(a>b)#False
print(a==20) #true
print((a<b)and(b==30))#true

False
True
True

In [1]:
print("Day 2")

Day 2

In [5]:
fruits=["apple","banana","mango"]
fruits.append("orange") 
print(fruits)

['apple', 'banana', 'mango', 'orange']

In [7]:
print(fruits[1])

banana

In [11]:
names=["manas","nani","sai"]
names.remove("manas")
print(names)

['nani', 'sai']

In [16]:
print(names[0])
print(names[1])

nani
sai

In [19]:
movie=["OG","rifle club","one"]
movie.sort()
print(movie)

['OG', 'one', 'rifle club']

In [20]:
colors=("red","green","blue")
print(colors[0])

red

In [26]:
#colors[1]="yellow"

In [28]:
print("sets")

sets

In [33]:
number={1,2,3,3,4}
number.add(5)
print(number)

{1, 2, 3, 4, 5}

In [39]:
student={
    "name":"manas",
    "age":19,
    "course":"python full stack"
} 
print(student)

{'name': 'manas', 'age': 19, 'course': 'python full stack'}

In [40]:
student["age"]=20
print(student)

{'name': 'manas', 'age': 20, 'course': 'python full stack'}

In [43]:
student["college"]="avinash degree college"
print(student.keys())
print(student.values())

dict_keys(['name', 'age', 'course', 'college'])
dict_values(['manas', 20, 'python full stack', 'avinash degree college'])

In [42]:
print(student.values())

dict_values(['manas', 20, 'python full stack', 'avinash degree college'])

In [45]:
print("conditional statements")

conditional statements

In [1]:
marks=50
if marks>=90:
    print("grade:A")
elif marks>=75:
    print("grade:B")
elif marks>=50:
    print("grade:C")
else:
    print("grade:fail")

grade:C

In [2]:
for i in range(1,10):
    print("number:",i)

number: 1
number: 2
number: 3
number: 4
number: 5
number: 6
number: 7
number: 8
number: 9

In [3]:
count=1
while count<=5:
    print("count:",count)
    count+=1

count: 1
count: 2
count: 3
count: 4
count: 5

In [5]:
print("break&coutinue")

break&coutinue

In [10]:
for i in range(1,10):
    if i==6:break
    print(i)

1
2
3
4
5